
/* servicios */
.containersr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    background-color:white;
    gap:5px;
    padding-left: 15px;
    padding-bottom: 3vh;
    margin-top: 0;
    position: relative;
    
    

}
#gridsr{
    padding: 9px;
    text-align: center;
    transition: 0.3s;
    margin: 20px;
    margin-top: 40px;
    
    
}
.basesr{
    grid-column: 1/4;
    line-height: 2px;
    margin: 20px;
    
    margin-bottom: 0;
    padding-top: 17px;
}

#gridsr:hover{
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(247, 241, 241);
}


/* --------------- head----------------- */
body{
    height: 100vh;
    background-color: rgb(0,0,0);
   
}

#h-h{
    
   
    height: 100%;
    background-color: rgb(0,0,0);
   
}
#h-lugar{
    height: 100px;

}
#h-primario{
    height: 500px;
    
}
#h-pokemon{
    height: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 2px;
    
}

#perfil{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    z-index: 75;
    background-size:cover;
    position: relative;
 
}
#h-nav{
    color: white;
    background-color: rgb(14, 13, 13,0.75);
    height: 46px;
    border-radius:0px 0px 50px 50px   ;
    position: fixed;
    width: 100%;
    z-index: 100;
    
}


#h-grids{
    display: grid;
    grid-template-columns:  50%  50% ;
    justify-content: center;
    
}
#h-subgrid-img{
    display: grid;
    
    
}
#h-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 11px;
}
.h-link{
    text-decoration: none;
    color: white;
    text-align: center;
   
}
#h-inicio{
    margin-left: 50px;
}
#h-primario{
    display:grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#h-texto{
    text-align: center;
    line-height: 10px;
    font-size: larger;
    z-index: 75;
}
#imagenf{
    z-index: 0;
    height: auto;
    width: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    

}

/*----------------about------------------*/




#a-primario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 300px;
    background-color: white;
    z-index: 75;
    position: relative;
    
    
}
.icons{
    padding-top: 20px;
}
#a-skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    row-gap: 100px;
    margin: 20px;
    
    
}
#a-about{
    padding: 20px;
    
}

.a-icons {
    height: 40px;
}
/* ---------------portafolios--------------- */
#portafolios{
    z-index: 75;
    position: relative;
    background-color: white;
    
}
.portN{
    padding: 15px;
}
#p-proyectos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 20px 10px 20px;
    
    
}
.p-proyecto{
    border: solid 2px black;
    border-radius: 5%;
    height: 160px;
    width: 270px;
    justify-self: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
#prueb1 img{
    
    height: 160px;
    width: 270px;
    border-radius: 5%;
    overflow: hidden;
}
#prueb1 p{
    position: relative;
}

.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
.contenedor figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms  ease-out;
}
.contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,103,150, 0.7);
    transition: all 500ms  ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;

}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    transition: all 500ms  ease-out;
    margin-top: 30px;


}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin:auto ;
}

.contenedor figure:hover > img{
    transform: scale(1.3);
}




/* ---------------footer--------------- */

.footer{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    position: relative;
}
.g-footer{
    
    text-align: center;
    margin: 15px;
}

#techoF{
    grid-column: 1/5;
    text-align: left;
    padding-top: 80px;
}
#pie{
    grid-column: 1/5;
    line-height: 4px;
}

.g-footer a:hover{
    text-decoration: none;
    color: black;
}
.g-footer a{
    text-decoration: none;
    color: black;
}
#mail{
    color: rgb(255, 36, 36);
}
#linkedin{
    color: rgb(0, 89, 255);
}
#mail p{
    color: black;
}
#linkedin p{
    color: black;
}