
/* servicios */
.containersr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    background-color: white;
    gap:5px;
    margin-left: 15px;
    margin-bottom: 3vh;
    margin-top: 0;
    position: relative;
    

}
#gridsr{
    padding: 9px;
    text-align: center;
    transition: 0.3s;
    margin: 20px;
    margin-top: 40px;
    
    
}
.basesr{
    grid-column: 1/4;
    line-height: 2px;
    margin: 20px;
    
    margin-bottom: 0;
    padding-top: 17px;
}

#gridsr:hover{
    box-shadow: 5px 5px 5px grey;
    background-color: rgb(247, 241, 241);
}


/* --------------- head----------------- */


#h-h{
    background:linear-gradient(rgba(0, 0, 0, 0.75),rgba(36, 36, 36, 0.75)), url(https://imgs.search.brave.com/Z_7Pib1Halu9SF9_gVbmknyMkdkiT89B5r6_cPW1Iow/rs:fit:626:413:1/g:ce/aHR0cHM6Ly9pbWFn/ZS5mcmVlcGlrLmNv/bS92ZWN0b3ItZ3Jh/dGlzL2ZvbmRvLWF0/YXF1ZS1jaWJlcm5l/dGljby1oYWNrZXJf/NDIwNzctMzUuanBn)  ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
   
}
#h-lugar{
    height: 100px;

}
#h-primario{
    height: 500px;
    
}
#h-pokemon{
    height: 40px;
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 2px;
    
}

#perfil{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    
    background-size:cover;
 
}
#h-nav{
    color: white;
    background-color: rgb(14, 13, 13,0.75);
    height: 46px;
    border-radius:0px 0px 50px 50px   ;
    position: fixed;
    width: 100%;
    
}


#h-grids{
    display: grid;
    grid-template-columns:  50%  50% ;
    justify-content: center;
    
}
#h-subgrid-img{
    display: grid;
    
    
}
#h-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 11px;
}
.h-link{
    text-decoration: none;
    color: white;
    text-align: center;
   
}
#h-inicio{
    margin-left: 50px;
}
#h-primario{
    display:grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    align-items: center;
    color: white;
    
}
#h-texto{
    text-align: center;
    line-height: 10px;
    font-size: larger;
}

/*----------------about------------------*/




#a-primario{
    height: 300px;
    background-color: white;
}




/* ---------------footer--------------- */

.footer{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    position: relative;
}
.g-footer{
    
    text-align: center;
    margin: 15px;
}

#techoF{
    grid-column: 1/5;
    text-align: left;
    padding-top: 80px;
}
#pie{
    grid-column: 1/5;
    line-height: 4px;
}

.g-footer a:hover{
    text-decoration: none;
    color: black;
}
.g-footer a{
    text-decoration: none;
    color: black;
}
#mail{
    color: rgb(255, 36, 36);
}
#linkedin{
    color: rgb(0, 89, 255);
}
#mail p{
    color: black;
}
#linkedin p{
    color: black;
}